@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';

.image-swiper {
	.swiper-button-prev:after,
	.swiper-button-next:after {
		opacity: 0;
		text-align: center;
		line-height: rem(25px);
		font-size: rem(9px);
		font-weight: bold;
		background-color: #f5f5f2;
		color: #151515;
		border-radius: 50%;
		height: rem(25px);
		width: rem(25px);
		transition: opacity 0.5s;
		position: relative;
	}

	.swiper-button-prev:hover,
	.swiper-button-next:hover {
		& {
			transform: scale(1.1);
		}
	}

	&:hover {
		.swiper-button-prev:after,
		.swiper-button-next:after {
			opacity: 1;
		}
	}

	.swiper-pagination-bullet {
		background: white;
		height: rem(6px);
		width: rem(6px);
	}
	.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
		opacity: 0.5;
	}
}
