@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';
@import '../../assets/styles/setup/mixins';

footer {
    padding: 10px 0;
    background-color: $clr4;
    color: $clr5;
    font-size: rem(20px);
    
    img {
        width: rem(37px);
        margin-inline-end: rem(20px);
        padding: rem(4px);
        border-radius: 50%;
        border: 2px solid $clr5;
        cursor: pointer;

        &:hover {
            background-color: $clr1;
        }
    }

    @include for-mobile-layout {
        font-size: rem(14px);

        img {
            width: rem(25px);
            margin-inline-end: rem(10px);
            border-width: 1px;
        }
    }
}