
// COLOR PALETTE
$clr1: #fc0e49;
$clr2: #ccc;
$clr3: #333;
$clr4: #1e242c;
$clr5: #fff;

// LAYOUT BREAKPOINTS
$break-mobile: 460px;
$break-narrow: 560px;
$break-normal: 720px;
$break-wide: 960px;


